.todoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 1rem;
  background-color: var(--gray500);
  border-radius: 8px;
}

.task {
  color: var(--gray100);
  font-size: 0.88rem;
  line-height: 1.2rem;
}

.todoChecked {
  text-decoration: line-through;
  color: var(--gray300);
}

.todoContainer > svg {
  margin-left: auto;
  font-size: 1.3rem;
  color: var(--gray300);
  cursor: pointer;
}

.roundCheckbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.roundCheckbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-color: var(--blue);
}

.roundCheckbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--purple);
  border-color: var(--purple);
}

.checkmark::before {
  content: "";
  position: absolute;
  display: none;
}

.roundCheckbox input[type="checkbox"]:checked + .checkmark::before {
  display: block;
}

.roundCheckbox input[type="checkbox"]:checked + .checkmark::before {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid var(--gray100);
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}

@media (max-width: 768px) {
  .checkmark {
    height: 15px;
    width: 15px;
  }
  .roundCheckbox input[type="checkbox"]:checked + .checkmark::before {
    left: 4px;
    top: 1px;
    width: 2px;
    height: 6px;
  }
}
